<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Unlock YouTube content with TubExtractor.com. Extract video, shorts, transcripts, tags, title, channel info, download in preferred formats, or convert to MP3. Ideal for creators, SEOs, and video lovers.">
  <meta charset="utf-8">
  <title>Download YouTube Video and shorts with Tags, Transcripts, and MP3 | TubeXtractor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon generale -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- Favicon per dispositivi Apple -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">

  <!-- Favicon per Android / Chrome -->
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="512x512"  href="{{ url_for('static', filename='img/android-chrome-512x512.png') }}">

  <!-- Favicon per desktop generali -->
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KXPGCQ7');</script>
  <!-- End Google Tag Manager -->
<!--Adsense-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5805851655514225" crossorigin="anonymous"></script>
<!--fine adsense-->
 
  
  <!-- Bootstrap CSS -->
  <link rel="preload" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></noscript>

  <!-- Google Fonts -->
  <link rel="preload" href="{{ url_for('static', filename='css/fontfamily_dm.css') }}" as="style">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontfamily_dm.css') }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontfamily_roboto.css') }}" media="print" onload="this.media='all'">
    
  <!--font Style -->
  <style>
    body {
      font-family: 'DM Sans', sans-serif;
      background-color: #212529;
      color: #fff;
    }
    
    .btn-pink-moon {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    }
    .btn-pink-moon:hover {
      background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    }
    .col-12 {
    max-width: 100%;
  }

  a {
     color: white;
     text-decoration: none;
  }


  a:hover {
    background-color: #666666;
    border-radius: 5px;
    color: white;
  }
  h1{
    font-family: 'Roboto'; 
    font-weight: bold;
  }
  
  
  </style>
  
</head>

<body>
  <section class="text-center">
    <div class="container p-1 mb-5">
      <div class="row justify-content-center text-md-center">
        <div class="col-lg-10 col-xl-8 mb-0">
          <img src="{{ url_for('static', filename='img/tubextractor.webp') }}" alt="logo Tubextractor" width="200px" height="200px">
          <h1>
            TubeXtractor
        </h1>
        
        </div>
        <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5 mb-10">
          
          <p class="lead mb-3">
            Download videos, shorts, transcripts, tags or convert Video to MP3. Perfect for creators and SEO experts
           </p>
        </div>
      </div>
      <br>
      <form method="post" enctype="multipart/form-data" class="js-ajax-form mb-10">
        {{ form.hidden_tag() }}
        <div class="row justify-content-center text-md-center">
            <div class="col-md-6 col-lg-8 col-xl-6">
                <div class="input-group mb-2">
                    {{ form.video_id(class="form-control form-control-lg", placeholder="Enter the video URL", required="required") }}
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-2">
                {{ form.submit(class="btn btn-pink-moon btn-lg btn-block w-100") }}
            </div>
        </div>
    </form>
      <div id="loader" style="display: none;">
        <div class="d-flex justify-content-center">
        <div class="spinner-grow spinner-grow-sm text-danger m-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-danger m-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-danger m-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
        </div>
          </div>
          <p id="error-message" style="color: red;"></p>

      </div>
    </section>


<br>
      <section id="video-info" style="display: none;">
        <div class="container shadow-lg p-3 mb-5 bg-body rounded">
          <div class="row mb-5">
            <div class="col-sm-8 col-lg-4 mb-3">
              <img id="thumbnail-img" src="" alt="video Thumbnail">
              </div>
            <div  class="col-sm-4 col-lg-8"> 
              <h2 id="video-title" class="h3 mb-12 w-100 text-dark"></h2>
              <p id="channel-title" class="text-dark"></p>
              <p class="mb-2 text-dark"><strong>Duration:</strong> <span id="video-duration-value" class="text-dark"></span></p>
              <select id="format-select" class="form-select p-3">
                {% for format in video_info.formats %}
                <option value="{{ format.format_id }}">{{ format.ext }} - {{ format.format_note }}</option>
                {% endfor %}
              </select>
              <br>
              <button id="download-button" class="btn btn-pink-moon btn-lg btn-block w-100 p-3">
                <i class="fas fa-download"></i> Download
            </button>
            <div id="loading-message" style="display: none;">
              <p class="m-5">loading...</p>
          </div>
                  </section>
             

          <!-- Add this section for the textarea -->
          
          <section class="m-5" id="video-info2" style="display: none;">
            <div class="row m-5 justify-content-center">
              <div class="col-md-6 col-sm-12 text-center mb-3">
                <img src="{{ url_for('static', filename='img/paper-writing.svg') }}" alt="icon transcript Tubextractor" width="64px" height="64px" class="mb-3">
                <textarea id="transcription-textarea" class="form-control mb-2 w-100" rows="5"></textarea>
                <button class="btn btn-pink-moon w-100 p-3" id="copy-transcription-btn">Copy Transcript</button>
              </div>
              <div class="col-md-6 col-sm-12 text-center">
                <img src="{{ url_for('static', filename='img/tags.svg') }}" alt="icon tags Tubextractor" width="64px" height="64px" class="mb-3">
                <textarea id="tags-textarea" class="form-control mb-2 w-100" rows="5"></textarea>
                <button class="btn btn-pink-moon w-100 p-3" id="copy-tags-btn">Copy Tags</button>
              </div>
            </div>
          </section>
          <!-- Add section for audio download-->
          <section id="audio-info" style="display: none;">
            <div class="container bg-light text-dark p-5 rounded-3">
              <div class="row mb-5">
                <div class="d-flex justify-content-center align-items-center col-sm-8 col-lg-4 mb-3">
                  <img src="{{ url_for('static', filename='img/tubextractor_mp3.png') }}" alt="icon tags Tubextractor" width="300px" height="300px" class="mb-3">
              </div>
                <div  class="col-sm-4 col-lg-8"> 
                  <h2 class="h3 mb-12 w-100"> Video to mp3</h2>
                  <p class="lead mb-3">Experience seamless conversion of your favorite YouTube videos to high-quality MP3 audio files. Perfect for offline listening, podcast creation, or any other audio-focused project. Start your audio adventure with TubExtractor.</p>
   <a href="/download_audio" download>
                      <button id="download-audio" class="btn btn-pink-moon btn-lg btn-block w-100 p-3">
                        <i class="fas fa-download"></i> Download MP3
                    </button>
                </a><br>
                <p id="loading-message-audio" style="display: none;">Loading...</p>
       </div>
      </div>
    </div>
  </section>

  <!-- section how to works-->

  <section class="text-center">
    <div class="container p-1 mt-5">
      <div class="row justify-content-center text-md-center">
        <div class="col-lg-10 col-xl-8 mb-0">
      <h2> Welcome to TubeXtractor, your one-stop solution for all your YouTube needs. </h2>
      <p class="lead m-3">With TubeXtractor, you can seamlessly download a YouTube video, transform YouTube videos into MP3 files, and even extract a video's transcript and tags.</p>
    </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4 mt-5 p-2">
        <img src="{{ url_for('static', filename='img/how_to_download_video_youtube_1.webp') }}" alt="icon tags Tubextractor" width="300px" height="300px" class="mb-3">
             <p class="h6">Locate the YouTube video you're interested in and copy its URL.<br>Please, copy youtube link like this:<br>https://www.youtube.com/watch?v=ABC123</p>
      </div>
      <div class="col-lg-4 mt-5 p-2">
        <img src="{{ url_for('static', filename='img/how_to_download_video_youtube_2.webp') }}" alt="icon tags Tubextractor" width="300px" height="300px" class="mb-3">
        <p class="h6">Back on the TubExtractor page, paste the YouTube video URL into the input field provided and then click the button "GET INFO"

        </p>
      </div>
      <div class="col-lg-4 mt-5 p-2">
        <img src="{{ url_for('static', filename='img/how_to_download_video_youtube_3.webp') }}" alt="icon tags Tubextractor" width="300px" height="300px" class="mb-3">
        <p class="h6">Upon completion, the following information will be displayed:

         <ul class="list-unstyled">
          <li>A selection of downloadable video formats for your chosen YouTube video.</li>
          <li>The tags associated with the YouTube video.</li>  
            <li>A transcript of the video content.</li>
            <li>An option to download the video's audio in MP3 format.</li>
          </ul> 
        </p>
      </div>
    </div>
  </div>
</section>

<!-- end section How to works-->

<section>
  <!-- Youtube downloader-->
  <div id="youtube_download_video" class="row gx-lg-0 m-5 align-items-center"> 
    <div class="col-md-6 mb-3 mb-md-0"> 
      <img src="{{ url_for('static', filename='img/youtube_video_download.webp') }}" alt="icon tags Tubextractor" class="w-100 shadow-4-strong rounded-4 mb-4"> 
    </div> 
    <div class="col-md-6 mb-4 mb-md-0"> 
      <h3 class="fw-bold mb-5 text-center">How to download a Youtube video</h3> 
      <p>
        Are you looking for a convenient way to download YouTube videos and watch them offline? TubExtractor has got you covered. Here's how to use TubExtractor to download YouTube videos:
</p>
<ul>
<ol class="list-group-numbered m-0">
  <li class=" d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Find the YouTube video</div>
      Go to YouTube and locate the video you want to download.
    </div>
   
  </li>
      <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Copy the video URL</div>
      Copy the URL of the YouTube video you wish to download.
    </div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Access TubExtractor</div>
      Paste the video URL into the designated field on TubExtractor's homepage and then click on Get Info button.
    </div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Select the desired format</div>
      Choose the video format you prefer for your download and click the button.
    </div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Save the video and enjoy</div>
      TubExtractor will automatically start the download process, and the video will be saved directly to your device!
    </div>      
  </li>
</ol>
</ul>
    </div>
    </div>
    <div class="row gx-lg-0 p-lg-5 bg-black"> 
    <div class="col-md-4 mb-3 mb-md-0"> 
<h3 class="text-center text-md-start m-5">Why Use TubExtractor to Download YouTube Videos</h3>
</div>
<div class="col-md-8 mb-3 mb-md-0"> 
<ul>
<ol class="list-group m-0">
  <li class=" d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold text-uppercase">Offline viewing</div>
      Download your favorite YouTube videos and watch them without an internet connection.
    </div>     
  </li>
      <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold text-uppercase">Easy and efficient</div>
      TubExtractor simplifies the downloading process, making it quick and hassle-free.<br>
      </div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold text-uppercase">Versatile formats</div>
      Choose from a wide range of video formats to ensure compatibility with your device.
 </div>      
  </li>
</ol>
</ul>
  </div>
  </div>
  <!-- video to mp3-->
  <div id="youtube_video_to_mp3" class="row gx-lg-5 m-5 flex-lg-row-reverse align-items-center"> 
    <div class="col-md-6 mb-3 mb-md-0"> 
      <img src="{{ url_for('static', filename='img/youtube_video_to_mp3.webp') }}" alt="video to mp3" class="w-100 shadow-4-strong rounded-4 mb-4"> 
    </div> 
    <div class="col-md-6 mb-4 mb-md-0"> 
      <h3 class="fw-bold mb-5 text-center">How to Use TubExtractor to Download MP3 from YouTube Videos</h3> 
      <p>
        Do you want to enjoy the audio from your favorite YouTube videos on the go? TubExtractor allows you to convert YouTube videos to MP3 audio files easily. Here's how:</p>
  <ul>
  <ol class="list-group-numbered m-0">
  <li class=" d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Find the YouTube video</div>
      Locate the YouTube video you wish to convert to MP3.
    </div>
   
  </li>
      <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Copy the video URL</div>
      Copy the URL of the YouTube video you wish to download.
    </div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Access TubExtractor</div>
      Paste the video URL into the designated field on TubExtractor's homepage and then click on Get Info button.
    </div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Convert to MP3</div>
      Click on the "Download to MP3" button to initiate the conversion process. TubExtractor will extract the audio from the YouTube video and generate the MP3 file.
    </div>      
  </li>
  </ol>
  </ul>
</div>
</div>
<div class="row gx-lg-0 p-lg-5 bg-black"> 
<div class="col-md-4 mb-3 mb-md-0"> 
  <h3 class="text-center text-md-start m-3">Why Use TubExtractor to Download MP3 from YouTube Videos:</h3>
</div>
  <div class="col-md-8 mb-3 mb-md-0"> 
  <ul>
  <ol class="list-group m-0">
  <li class=" d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold text-uppercase">Portable audio experience</div>
      Convert YouTube videos to MP3 and enjoy your favorite content in audio format on any device, even offline. </div>     
  </li>
      <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold text-uppercase">Podcast creation and audio projects</div>
      Utilize the MP3 files for podcasting, audio projects, or background music without the need for video playback.</div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold text-uppercase">Convenience and versatility</div>
      TubExtractor provides a user-friendly platform for quickly converting YouTube videos to high-quality MP3 audio files, offering flexibility and convenience in consuming content.
  </div>      
  </li>
  </ol>
  </ul>
  
    </div>
  </div>
  <!-- tags-->
  <div id="how_to_get_youtube_tags" class="row gx-lg-0 m-5 align-items-center"> 
    <div class="col-md-6 mb-3 mb-md-0"> 
      <img src="{{ url_for('static', filename='img/tags_youtube_video.webp') }}" alt="tags youtube video" class="w-100 shadow-4-strong rounded-4 mb-4"> 
    </div> 
    <div class="col-md-6 mb-4 mb-md-0"> 
      <h3 class="fw-bold mb-5 text-center">How to Use TubExtractor to Download YouTube Tags</h3> 
      <p>
        YouTube tags play a vital role in optimizing your video's discoverability. TubExtractor enables you to download YouTube tags effortlessly. Here's how:</p>
  <ul>
  <ol class="list-group-numbered m-0">
  <li class=" d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Find the YouTube video</div>
       Identify the YouTube video from which you want to extract the tags.
    </div>
   
  </li>
      <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Copy the video URL</div>
      Copy the URL of the YouTube video you wish to download.
    </div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Access TubExtractor</div>
      Paste the URL of the YouTube video into the provided field on TubExtractor's homepage and click on "Get Info".
    </div>      
  </li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Extract the tags</div>
      Once you have obtained the video information, including the tags, they will be displayed in a textarea. 
      You can conveniently copy the tags by clicking on the "COPY TAGS" button</li>
  <li class="d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Add your tags</div>
      Additionally, if you want to add more tags manually, you can do so and easily copy them by clicking the same "COPY TAGS" button. This allows you to optimize your video's discoverability and enhance your content strategy with relevant and effective tags. </div>      
  </li>
  </ol>
  </ul>
</div>
</div>
<div class="row gx-lg-0 p-lg-5 bg-black"> 
<div class="col-md-4 mb-3 mb-md-0"> 
  <h3 class="text-center text-md-start m-3">Why Use TubExtractor to Download YouTube Tags</h3>
  </div>
  <div class="col-md-8 mb-3 mb-md-0"> 
  <ul>
    <ol class="list-group m-0">
      <li class=" d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold text-uppercase">SEO optimization</div>
          Leverage popular tags used in successful YouTube videos to enhance your own video's visibility and attract a wider audience. </div>     
      </li>
          <li class="d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold text-uppercase">Time-saving</div>
          TubExtractor eliminates the need for manual tag research, providing you with relevant tags directly from YouTube videos. </div>      
      </li>
      <li class="d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold text-uppercase">Competitive advantage</div>
          Gain insights into the tags used by top-performing videos in your niche and incorporate them into your content strategy.</div>      
      </li>
    </ol>
   </ul>
    </div>
  </div>
  
  <!--transcription-->
    <div id="how_to_get_youtube_transcript" class="row gx-lg-5 m-5 flex-lg-row-reverse align-items-center"> 
    <div class="col-md-6 mb-3 mb-md-0"> 
      <img src="{{ url_for('static', filename='img/transcript_youtube_video.webp') }}" alt="Transcript youtube video" class="w-100 shadow-4-strong rounded-4 mb-4"> 
    </div> 
    <div class="col-md-6 mb-4 mb-md-0"> 
      <h3 class="fw-bold mb-5 text-center">How to Use TubExtractor to Download YouTube Transcript</h3> 
      <p>
        YouTube video transcripts are valuable for content creators, researchers, and accessibility purposes. TubExtractor allows you to easily download accurate transcripts from any YouTube video. Here's how:<ul>
      <ol class="list-group-numbered m-0">
      <li class=" d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
      <div class="fw-bold">Locate the YouTube video</div>
      Identify the YouTube video for which you need the transcript.
      </div>
      
      </li>
      <li class="d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
      <div class="fw-bold">Copy the video URL</div>
      Copy the URL of the YouTube video you wish to download the youtube transcript video.
      </div>      
      </li>
      <li class="d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
      <div class="fw-bold">Access TubExtractor</div>
      Paste the URL of the YouTube video into the provided field on TubExtractor's homepage and click on "Get Info".
      </div>      
      </li>
      <li class="d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
      <div class="fw-bold">Extract the tags</div>
      Once you have obtained the video information, including the transcription, they will be displayed in a textarea. 
      You can conveniently copy the transcription by clicking on the "COPY TRANSCRIPTION" button</li>
      </ol>
      </ul>    
    </div> 
  </div> 
  <div class="row gx-lg-0 p-lg-5 bg-black"> 
    <div class="col-md-4 mb-3 mb-md-0"> 
  <h3 class="text-center text-md-start m-3">Why Use TubExtractor to Download YouTube transcription</h3>
</div>
<div class="col-md-8 mb-3 mb-md-0"> 
  <ul>
<ol class="list-group m-0">
<li class=" d-flex justify-content-between align-items-start">
  <div class="ms-2 me-auto">
    <div class="fw-bold text-uppercase">Accessibility and inclusivity</div>
    Transcripts provide accessibility to individuals with hearing impairments or language barriers, making your content more inclusive.</li>
    <li class="d-flex justify-content-between align-items-start">
  <div class="ms-2 me-auto">
    <div class="fw-bold text-uppercase">Content Repurposing</div>
    Downloaded YouTube transcripts can be repurposed into various forms of content. You can transform the transcript into blog posts, articles, or social media captions, maximizing the reach and impact of your video content.</li>

</ol>
</ul>
</div>
</div>


</section>


<!--Disclaimer-->
<section class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center text-md-start m-3">Disclaimer</h2>
      <p>
        The TubExtractor website provides a service for downloading or extracting content from YouTube videos. However, please note that TubExtractor does not own or control the rights to the videos or the content within them.
      </p>
      <p>
        Our platform is designed to assist users in accessing and utilizing YouTube content for personal or non-commercial purposes. It is important to understand that the responsibility for complying with YouTube's terms of service, as well as applicable copyright laws and regulations, lies with the users.
      </p>
      <p>
        We strongly encourage all users to respect the terms of service set forth by YouTube and to use any downloaded or extracted content in accordance with the applicable laws and regulations regarding copyright and intellectual property.
      </p>
      <p>
        Please be aware that TubExtractor is an independent platform and is not affiliated or associated directly with YouTube. We do not endorse or support any copyright infringement or unauthorized use of YouTube content.
      </p>
      <p>
        By using TubExtractor, you acknowledge and agree that you are solely responsible for any actions you take with the downloaded or extracted content, and you indemnify TubExtractor and its team from any legal consequences resulting from the misuse or violation of copyright laws or YouTube's terms of service.
      </p>
      <p>
        If you have any concerns or questions regarding the usage of TubExtractor or the content provided, please refer to our Terms of Service and Privacy Policy for more information.
      </p>
      <p>
        Remember, it is essential to exercise caution, respect intellectual property rights, and adhere to the regulations governing online content when using TubExtractor or any similar service.
      </p>
    </div>
  </div>
</section>


<!-- End Section explain -->

<!-- footer section-->
<section>
  <div class="container text-center">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
     
          <img src="{{ url_for('static', filename='img/tubextractor.webp') }}" alt="logo Tubextractor" width="200px" height="200px"> 
        <p class="text-body-secondary">© TubeXtractor.com 2023<br><a href="/privacy-policy">PRIVACY POLICY</a> <br><a href="/terms-of-service">TERMS OF SERVICE</a></p>
      </div>
  
       <div class="col mb-3">
        <p class="text-uppercase fs-6">Youtube Download Video</p>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#youtube_download_video" class=" p-0 ">How to download youtube video</a></li>
          <li class="nav-item mb-2"><a href="#youtube_download_video" class=" p-0 ">youtube download</a></li>
          <li class="nav-item mb-2"><a href="#youtube_download_video" class=" p-0 ">download a youtube video shorts</a></li>
          <li class="nav-item mb-2"><a href="#youtube_download_video" class=" p-0 ">save youtube</a></li>
          <li class="nav-item mb-2"><a href="#youtube_download_video" class=" p-0 ">youtube videos downloader</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <p class="text-uppercase fs-6">Video to mp3</p>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#youtube_video_to_mp3" class="p-0">youtube to mp3</a></li>
          <li class="nav-item mb-2"><a href="#youtube_video_to_mp3" class="p-0">mp3 converter</a></li>
          <li class="nav-item mb-2"><a href="#youtube_video_to_mp3" class="p-0">best free mp3 converter</a></li>
          <li class="nav-item mb-2"><a href="#youtube_video_to_mp3" class="p-0">free youtube to mp3 converter</a></li>
          <li class="nav-item mb-2"><a href="#youtube_video_to_mp3" class="p-0">Video to mp3</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <p class="text-uppercase fs-6">Youtube Transcript</p>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_transcript" class="p-0">transcript youtube</a></li>
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_transcript" class="p-0">transcription on youtube</a></li>
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_transcript" class="p-0">transcript youtube video</a></li>
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_transcript" class="p-0">youtube transcript extractor</a></li>
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_transcript" class="p-0">video transcript youtube</a></li>
        </ul>
      </div>
      <div class="col mb-3">
        <p class="text-uppercase fs-6">Youtube Tags</p>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_tags" class="p-0">youtube tags extractor</a></li>
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_tags" class="p-0">tags in youtube</a></li>
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_tags" class="p-0">youtube tagging</a></li>
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_tags" class="p-0">youtube tag</a></li>
          <li class="nav-item mb-2"><a href="#how_to_get_youtube_tags" class="p-0">tags youtube video</a></li>
        </ul>
      </div>
    </footer>
  </div>

</section>

<!-- end footer-->


  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    data-integrity="38d870e9c3c4e532551b530706abb811"></script>
<!--fontawesome -->
<script src="https://kit.fontawesome.com/bac6d897cb.js" crossorigin="anonymous"></script>
  
  <!-- Custom script -->
  <script>
    var videoId;
    var loadingMessage = document.querySelector('#loading-message');
    var downloadButton = document.querySelector('#download-button');
    var errorMessageElement = document.querySelector('#error-message');

    function get_youtube_video_id(url) {
    var video_id;
    if (url.includes('youtu.be')) {
        // Handle https://youtu.be/<video_id> format
        video_id = url.split('youtu.be/')[1];
    } else if (url.includes('youtube.com/watch')) {
        // Handle https://www.youtube.com/watch?v=<video_id> format
        video_id = url.split('v=')[1];
        var ampersandPosition = video_id.indexOf('&');
        if (ampersandPosition != -1) {
            video_id = video_id.substring(0, ampersandPosition);
        }
    } else if (url.includes('youtube.com/shorts')) {
        // Handle https://youtube.com/shorts/<video_id> format
        video_id = url.split('shorts/')[1];
    }
    return video_id;
}

    function validateYouTubeUrl(url) {
    var youtubeUrlRegex = /^https?:\/\/(www\.)?(youtube\.com\/(watch\?v=[^&]+|shorts\/[^?\/]+)|youtu\.be\/[^&]+)/;
    return youtubeUrlRegex.test(url);
}

    document.querySelector('.js-ajax-form').addEventListener('submit', function (event) {
        event.preventDefault();

        // Clear the results from the previous search and any error message
        document.querySelector('#transcription-textarea').value = '';
        document.querySelector('#tags-textarea').value = '';
        errorMessageElement.textContent = '';

        var loader = document.querySelector('#loader');
        loader.style.display = 'block';
        loadingMessage.style.display = 'none'; // Hide the loading message
        downloadButton.disabled = true;

        var videoUrl = document.querySelector('input[name="video_id"]').value;
if (!validateYouTubeUrl(videoUrl)) {
    errorMessageElement.textContent = 'Invalid YouTube URL. Please enter a valid URL, such as https://www.youtube.com/watch?v=abc123 or https://youtu.be/abc123';
    loader.style.display = 'none';
    downloadButton.disabled = false;
    return;
}


        videoId = get_youtube_video_id(videoUrl);

        // Push the URL to dataLayer
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'video_url_entered',
            'video_url': videoUrl
        });

        fetch('/get_video_info', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({video_id: videoId})
        })
            .then(function (response) {
                loader.style.display = 'none';
                downloadButton.disabled = false; // Enable the download button
                return response.json();
            })
            .then(function (data) {
                var durationValueElement = document.querySelector('#video-duration-value');
                durationValueElement.textContent = data.duration; // Set the duration value

                var transcriptionTextarea = document.querySelector('#transcription-textarea');
                var tagsTextarea = document.querySelector('#tags-textarea');
                transcriptionTextarea.value = data.transcript;
                tagsTextarea.value = data.tags.join(', ');
                document.querySelector('#video-title').textContent = data.title;
                document.querySelector('#channel-title').textContent = 'POSTED BY: ' + data.channel_title;
                document.querySelector('#thumbnail-img').src = data.thumbnail;

                // Populate the formats dropdown
                var formatSelect = document.querySelector('#format-select');
                formatSelect.innerHTML = '';
                for (var i = 0; i < data.formats.length; i++) {
                    var formatOption = document.createElement('option');
                    formatOption.value = data.formats[i].format_id;
                    formatOption.textContent = data.formats[i].ext + ' - ' + data.formats[i].format_note;
                    var iconElement = document.createElement('i');
                    iconElement.classList.add('fas', 'fa-video');
                    formatOption.appendChild(iconElement);
                    formatSelect.appendChild(formatOption);
                }

                // Add the download button's click event
                downloadButton.removeEventListener('click', handleDownloadButtonClick);
                downloadButton.addEventListener('click', handleDownloadButtonClick);

                // Show the results section
                document.querySelector('#video-info').style.display = 'block';
                document.querySelector('#video-info2').style.display = 'block';
                document.querySelector('#audio-info').style.display = 'block';

                // Clear the form for a new search
                document.querySelector('.js-ajax-form').reset();
            })
            .catch(function (error) {
                console.log('Error during fetch:', error);
                loader.style.display = 'none';
                loadingMessage.style.display = 'none'; // Hide the loading message in case of error
                downloadButton.disabled = false; // Enable the download button in case of error
            });
    });

    function handleDownloadButtonClick() {
    // Get the selected format
    var selectedFormat = document.querySelector('#format-select').selectedOptions[0];
    if (!selectedFormat) return; // If no format is selected, do nothing
    // Show the loading message
    loadingMessage.style.display = 'block';
    downloadButton.disabled = true; // Disable the download button during the download process

    // Push the selected format to dataLayer
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'event': 'download_button_clicked',
        'selected_format_id': selectedFormat.value,
        'selected_format_text': selectedFormat.textContent,
        'click_time': new Date().getTime()
    });

    // Redirect to the download URL
    window.location.href = '/download_video/' + selectedFormat.value + '?video_id=' + videoId;
    // Enable the download button after a short delay (adjust the delay as needed)
    setTimeout(function () {
        loadingMessage.style.display = 'none'; // Hide the loading message after the download
        downloadButton.disabled = false;
    }, 1000);
}


    // Add the event listeners for copying the transcript and tags
    document.querySelector('#copy-transcription-btn').addEventListener('click', function () {
        var transcriptionText = document.querySelector('#transcription-textarea').value;
        copyToClipboard(transcriptionText);
        window.dataLayer.push({
            'event': 'button_click',
            'button_name': 'copy_transcription',
            'click_time': new Date().getTime()
        });
    });

    document.querySelector('#copy-tags-btn').addEventListener('click', function () {
        var tagsText = document.querySelector('#tags-textarea').value;
        copyToClipboard(tagsText);
        window.dataLayer.push({
            'event': 'button_click',
            'button_name': 'copy_tags',
            'click_time': new Date().getTime()
        });
    });

    // Utility function for copying text to clipboard
    function copyToClipboard(text) {
        var textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
        alert('Text copied to clipboard!');
    }

    // Add the event listeners for audio
    document.querySelector('#download-audio').addEventListener('click', function () {
        document.querySelector('#loading-message-audio').style.display = 'block';
        // Nascondi la scritta "Loading..." dopo 20 secondi
        setTimeout(function () {
            document.querySelector('#loading-message-audio').style.display = 'none';
        }, 20000); // 20000 millisecondi corrispondono a 20 secondi

        window.dataLayer.push({
            'event': 'button_click',
            'button_name': 'download_audio',
            'click_time': new Date().getTime()
        });
    });

</script>







</body>
</html>
